.boton-4::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '';
    width: 1px;
    height: 1px;
    /* background-color: none; */
    background-color: rgb(61, 43, 226);


    position: absolute;
    z-index: 1;
    transition: 1s ease-in all;
    border-radius: 100%;
    /* Para centrarlo  */
    top: 50%;
    left: 40%;

    transform-origin: center;
}

.boton-4:hover::after {
    transform: scale(400);
    background-color: rgb(61, 43, 226);
    transform-origin: center;
}

.boton-4:hover span {
    color: black;
}

/* .boton-4:hover {
    background-color: chartreuse;
} */